@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --font-sans: var(--font-lora);
  --font-heading: var(--font-libre-baskerville);
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary-pink-100: oklch(0.9826 0.008655 8.5405);
  --color-primary-pink-500: oklch(0.8474 0.0858 9.09);
  --font-sans: var(--font-lora);
  --font-heading: var(--font-libre-baskerville);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
input {
  border: solid rgb(176, 171, 171) 1px;
  border-radius: 6px;
  padding: 4px;
  font-family: var(--font-sans);
}

button {
  background-color: var(--color-primary-pink-500);
  border: 1px solid #ffffff;
  border-radius: 6.25rem;
  color: #ffffff;
  padding: 4px;
  width: 8rem;
  font-weight: 600px;
  font-family: var(--font-sans);
}
