@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --font-sans: var(--font-lora);
  --font-heading: var(--font-libre-baskerville);
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary-pink-100: oklch(0.9826 0.008655 8.5405);
  --color-primary-pink-500: oklch(0.8474 0.0858 9.09);
  --color-primary-pink-700: oklch(0.7166 0.0723 8.96);
  --color-custom-gray-100: oklch(0.1475 0.031 103.29 / 5.1%);
  --font-sans: var(--font-lora);
  --font-heading: var(--font-libre-baskerville);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
input {
  border: none;
  border-radius: 12px;
  padding: 4px;
  padding-left: 8px;
  font-family: var(--font-sans);
  min-height: 36px;
}

button {
  padding: 4px;
  min-width: 5rem;
  font-family: var(--font-sans);
}
