.formWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 24rem;
  height: 20rem;
  padding: 2rem;
  background-color: rgba(113, 154, 119, 0.466);
  border: 1px solid rgba(69, 154, 106, 0.448);
  border-radius: 0.75rem;
  gap: 1rem;
  font-size: 12px;
}
.formWrapper input {
  border: 1px solid rgba(255, 255, 255, 0.696);
}
.stepInput {
  display: flex;
  flex-direction: column;
  width: 15rem;
  gap: 0.25rem;
  margin-bottom: 1rem;
}
.stepRadioBlock {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
.stepRadioBlock input {
  margin-right: 0.25rem;
}
.buttonForm {
  margin-bottom: 1rem;
  font-size: 16px;
}
